venv
C:\Users\Manglam\Desktop\Et-Artha\frontend\node_modules
C:\Users\Manglam\Desktop\Et-Artha\frontend\.next
C:\Users\Manglam\Desktop\Et-Artha\backend\venv
C:\Users\Manglam\Desktop\Et-Artha\backend\__pycache__
C:\Users\Manglam\Desktop\Et-Artha\backend\.env
